flows.json
[{"id":"c2ca95e1.453638","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a9e47f49.4d029","type":"ui_tab","z":"","name":"Bot","icon":"dashboard","disabled":false,"hidden":false},{"id":"5ce1abd5.9000e4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"f802dd54.461dc","type":"ui_tab","z":"","name":"Reg page","icon":"dashboard","disabled":false,"hidden":false},{"id":"4c708b1e.663c94","type":"ui_group","z":"","name":"Registration page","tab":"f802dd54.461dc","order":1,"disp":true,"width":"6","collapse":false},{"id":"fbccd2ef.21992","type":"ui_tab","z":"","name":"Login form","icon":"dashboard","disabled":false,"hidden":false},{"id":"ed4e43b0.faaed","type":"ui_group","z":"","name":"Login page","tab":"fbccd2ef.21992","order":1,"disp":true,"width":"6","collapse":false},{"id":"1caebecd.f5b1f1","type":"ui_group","z":"","name":"Customer help","tab":"a9e47f49.4d029","order":1,"disp":true,"width":"6","collapse":false},{"id":"568dd953.a2f4f8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f857b435.c295b8","type":"ui_tab","z":"","name":"Customer Help","icon":"dashboard","disabled":false,"hidden":false},{"id":"9da0a471.cf9508","type":"ui_group","z":"","name":"Bot","tab":"f857b435.c295b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"9504bb12.c9bcc8","type":"ui_form","z":"c2ca95e1.453638","name":"","label":"","group":"4c708b1e.663c94","order":0,"width":0,"height":0,"options":[{"label":"Enter name","value":"Name","type":"text","required":true,"rows":null},{"label":"Email ID","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"Name":"","email":"","password":""},"payload":"","submit":"create","cancel":"cancel","topic":"","x":180,"y":140,"wires":[["952f68c2.963438","a605b31f.d631"]]},{"id":"952f68c2.963438","type":"debug","z":"c2ca95e1.453638","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":60,"wires":[]},{"id":"a605b31f.d631","type":"function","z":"c2ca95e1.453638","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":140,"wires":[["c84576d7.41df08"]]},{"id":"c84576d7.41df08","type":"cloudant out","z":"c2ca95e1.453638","name":"cloudant","cloudant":"","database":"sample","service":"node-red-ufyxi-2020--cloudant-1597403191146-81261","payonly":true,"operation":"insert","x":590,"y":140,"wires":[]},{"id":"2c3a9c0b.986c34","type":"ui_form","z":"c2ca95e1.453638","name":"","label":"","group":"ed4e43b0.faaed","order":0,"width":0,"height":0,"options":[{"label":"Email Id","value":"email","type":"email","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":180,"y":240,"wires":[["19a9589d.759f27"]]},{"id":"19a9589d.759f27","type":"function","z":"c2ca95e1.453638","name":"","func":"global.set('Emailid',msg.payload,email);\nglobal.set('Password'.msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":240,"wires":[["8b405b6e.40f6c8"]]},{"id":"8b405b6e.40f6c8","type":"function","z":"c2ca95e1.453638","name":"","func":"var emailid=global.get('emailid'); \n\nmsg.payload=\"emailid:\"+emailid; \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":240,"wires":[["62c0d70.d719928"]]},{"id":"62c0d70.d719928","type":"cloudant in","z":"c2ca95e1.453638","name":"","cloudant":"","database":"sample","service":"node-red-ufyxi-2020--cloudant-1597403191146-81261","search":"_idx_","design":"user","index":"user","x":730,"y":240,"wires":[["997a0206.126b4"]]},{"id":"997a0206.126b4","type":"function","z":"c2ca95e1.453638","name":"","func":"if(msg.payload[0].password==global.get('password')){\n    msg.payload='login successful';\n}\nelse{\n    msg.payload='login failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":240,"wires":[["5194f612.bb91b8"]]},{"id":"5194f612.bb91b8","type":"ui_text","z":"c2ca95e1.453638","group":"ed4e43b0.faaed","order":1,"width":0,"height":0,"name":"","label":"Login form","format":"{{msg.payload}}","layout":"row-spread","x":1130,"y":240,"wires":[]},{"id":"610c31b.9923cd","type":"ui_form","z":"c2ca95e1.453638","name":"","label":"","group":"9da0a471.cf9508","order":0,"width":0,"height":0,"options":[{"label":"User input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":340,"wires":[["30b32033.99fd3"]]},{"id":"30b32033.99fd3","type":"function","z":"c2ca95e1.453638","name":"","func":"msg.payload = msg.payload.input;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":340,"wires":[["83474af0.9cd538"]]},{"id":"83474af0.9cd538","type":"watson-conversation-v1","z":"c2ca95e1.453638","name":"","workspaceid":"f2774c28-f4bc-467c-bf13-16daa164ede2","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/da5fd483-b91e-48c6-87c9-f51b442f5aaa","timeout":"","optout-learning":false,"x":480,"y":340,"wires":[["7b7bdbaa.e13b04","a2d73813.0776f8"]]},{"id":"7b7bdbaa.e13b04","type":"debug","z":"c2ca95e1.453638","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":340,"wires":[]},{"id":"a2d73813.0776f8","type":"function","z":"c2ca95e1.453638","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":420,"wires":[["41c322fa.b873ec"]]},{"id":"41c322fa.b873ec","type":"ui_text","z":"c2ca95e1.453638","group":"9da0a471.cf9508","order":1,"width":"6","height":"6","name":"","label":"Bot response6","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":380,"wires":[]}]